<div class="fondo">
  <div  id="shadow" class="contenedor scale-in-center flip-in-ver-left">
    <div>
      <h1 class="text-center tracking-in-contract display-4">
          Ingresar
      </h1>
      <img src="../assets/images/loginImage.jpg" class="logo">

      <div class="row mt-4">
        <div>
          <label>Email</label>
          <input type="mail" class="form-control"  placeholder="email@ejemplo.com">
          <label>Password</label>
          <input type="password" class="form-control"  placeholder="Seguridad123">
          
          <div class="d-flex justify-content-center mt-3">
            <a href="#" class="logginBtn">Ingresar</a>
            <a class="loginGoogleBtn" (click)="loginConGoogle()">Ingresar con Google</a>
          </div>
        </div>
      </div>
  </div>
</div>
