  
  h1{
    font-family: 'Trebuchet MS';
    color: #54BAB9;
    font-size: 45px;
  }

  img{
    margin-top: 15px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 0 15px #ddd;
    background: #fff;
  }

  .fondo {
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #005075;
  }
 
  .contenedor {
    border-radius: 25px;
    background-image: url(../../../assets/images/wave.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100vh;
    height: 60vh;
    padding: 15px;
  }

  .logginBtn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color:#33bdef;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:8px 24px;
    text-decoration:none;
    text-shadow:1px 2px 0px #5b6178;
  }
  .logginBtn:hover {
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color:#019ad2;
  }
  .logginBtn:active {
    position:relative;
    top:1px;
  }

  .loginGoogleBtn {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color:#d0451b;
    border-radius:8px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:11px 24px;
    margin-left: 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
  }
  .loginGoogleBtn:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
  }
  .loginGoogleBtn:active {
    position:relative;
    top:1px;
  }


  #shadow {
    -webkit-box-shadow: 5px 5px 15px 5px #F7ECDE; 
    box-shadow: 5px 5px 15px 5px #F7ECDE;
    }

    .user-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    
    .user-buttons button {
      margin-top: 5px;
      font-size: 20px;
      height: 50px;
      width: 50px;
    }
