<div class="fondo">
  <div id="shadow" class="contenedor col-md-9 scale-in-center flip-in-ver-left">
    <div>
      <h1 class="text-center tracking-in-contract display-4">
        Ingresar
      </h1>
      <img src="../assets/images/loginImage.jpg" class="logo">
      <div class="row mt-4">
        <div>
          <label>Email</label>
          
          <input type="email" class="form-control" [(ngModel)]="usuario.email" placeholder="email@ejemplo.com">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="usuario.password" placeholder="Seguridad123">
          <div class="d-flex justify-content-center mt-3">
            <a class="logginBtn" (click)="login()">Ingresar</a>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-ms-3">
    <!-- Botones de accesos rápidos -->
    <div class="ms-2 text-center user-buttons">
      <button class="btn btn-warning" (click)="ingresoRapido(1)">
        👔
      </button>
      <button class="btn btn-success" (click)="ingresoRapido(2)">
        🥼
      </button>
      <button class="btn btn-success" (click)="ingresoRapido(3)">
        🩺
      </button>
      <!-- Repite el patrón para otros usuarios -->
      <button class="btn btn-primary" (click)="ingresoRapido(4)">
        🧔🏻
      </button>
      <button class="btn btn-primary ms-1" (click)="ingresoRapido(5)">
        👶🏻
      </button>
      <button class="btn btn-primary" (click)="ingresoRapido(6)">
        👲🏻
      </button>
    </div>
  </div>
</div>