<div class="fondo">
  <div  id="shadow" class="contenedor scale-in-center">
    <div>
      <h1 class="text">
          <b>Registrar {{this.tipo}}</b>
          <hr>
      </h1>
      
      <a class="registerBtn" (click)="this.tipo ='Paciente'">Registrar Paciente</a>
      <a class="registerBtn ms-5"  (click)="this.tipo ='Especialista'">Registrar Especialista</a>
      <a class="registerBtn ms-5" *ngIf="this.flagAdmin == true" (click)="this.tipo ='Admin'">Registrar ADMIN</a>
      


      <form *ngIf="this.tipo == 'Paciente'">

        <div class="row">
          <div class="col">
            <label>Nombre</label>
            <input type="text" class="form-control"  placeholder="Tu Nombre" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.nombre">
          </div>
          <div class="col">
            <label>Apellido</label>
            <input type="text" class="form-control"  placeholder="Tu Apellido" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.apellido">
          </div>
          <div>
            <label>Email</label>
            <input type="mail" class="form-control"  placeholder="email@ejemplo.com" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.email">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Edad</label>
            <input type="number" class="form-control"  placeholder="18" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.edad">
          </div>
          <div class="col">
            <label>DNI</label>
            <input type="number" class="form-control"  placeholder="44555333" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.dni">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Contraseña</label>
            <input type="password" class="form-control"  placeholder="Contraseña" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.password">
          </div>
          <div class="col">
            <label>Obra Social</label>
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.obraSocial">
              <option>Osde</option>
              <option>SwissMedical</option>
              <option>Galeno</option>
              <option>OSECAC</option>
              <option>Sancor</option>
            </select>
          </div>

          <div>
            <label for="exampleFormControlFile1">Foto</label>
            <br>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileSelected1($event)">
          </div>
          <div>
            <label for="exampleFormControlFile2">Foto2</label>
            <br>
            <input type="file" class="form-control-file" id="exampleFormControlFile2" (change)="onFileSelected2($event)">
          </div>
        </div>

        
        
        <div class="position-absolute bottom-0 end-0 p-4">
          <a class="registerBtn" (click)="registrarPaciente()">Registrarse</a>
        </div>
        
      </form>

      <form *ngIf="this.tipo == 'Especialista'">

        <div class="row">
          <div class="col">
            <label>Nombre</label>
            <input type="text" class="form-control"  placeholder="Tu Nombre" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.nombre">
          </div>
          <div class="col">
            <label>Apellido</label>
            <input type="text" class="form-control"  placeholder="Tu Apellido" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.apellido">
          </div>
          <div>
            <label>Email</label>
            <input type="mail" class="form-control"  placeholder="email@ejemplo.com" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.email">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Edad</label>
            <input type="number" class="form-control"  placeholder="18" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.edad">
          </div>
          <div class="col">
            <label>DNI</label>
            <input type="number" class="form-control"  placeholder="44555333" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.dni">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Contraseña</label>
            <input type="password" class="form-control"  placeholder="Contraseña" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.password">
          </div>
          <div class="col">
            <label>Especialidad</label>
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.especialidad">
              <option>Urologo</option>
              <option>Flevologo</option>
              <option>Dermatologo</option>
              <option>Traumatologo</option>
              <option>Oculista</option>
            </select>
          </div>

          <div>
            <label for="exampleFormControlFileEspecialista">Foto</label>
            <br>
            <input type="file" class="form-control-file" id="exampleFormControlFileEspecialista" (change)="onFileSelected1($event)">
          </div>
        </div>

        
        
        <div class="position-absolute bottom-0 end-0 p-4">
          <a class="registerBtn" (click)="registrarEspecialista()">Registrarse</a>
        </div>
        
      </form>

      <form *ngIf="this.tipo == 'Admin'">

        <div class="row">
          <div class="col">
            <label>Nombre</label>
            <input type="text" class="form-control"  placeholder="Tu Nombre" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.nombre">
          </div>
          <div class="col">
            <label>Apellido</label>
            <input type="text" class="form-control"  placeholder="Tu Apellido" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.apellido">
          </div>
          <div>
            <label>Email</label>
            <input type="mail" class="form-control"  placeholder="email@ejemplo.com" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.email">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Edad</label>
            <input type="number" class="form-control"  placeholder="18" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.edad">
          </div>
          <div class="col">
            <label>DNI</label>
            <input type="number" class="form-control"  placeholder="44555333" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.dni">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Contraseña</label>
            <input type="password" class="form-control"  placeholder="Contraseña" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.password">
          </div>

          <div>
            <label for="exampleFormControlFileAdmin">Foto</label>
            <br>
            <input type="file" class="form-control-file" id="exampleFormControlFileAdmin" (change)="onFileSelected1($event)">
          </div>
        </div>

        
        
        <div class="position-absolute bottom-0 end-0 p-4">
          <a class="registerBtn" (click)="registrarAdmin()">Registrarse</a>
        </div>
        
      </form>

  </div>
</div>

