<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src={{this.usuarioLogueado.fotoPerfil1}}
                alt="Avatar" class="img-fluid my-5" style="width: 380px;" />
              <h1 style="font-size: 35px;">  <strong> {{this.usuarioLogueado.nombre}}  {{this.usuarioLogueado.apellido}} </strong></h1>
              <!-- <i class="far fa-edit mb-5"></i> -->
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6 style="font-size: 35px;">Mi Perfil</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Nombre</h6>
                    <p class="text-muted">{{this.usuarioLogueado.nombre}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Apellido</h6>
                    <p class="text-muted">{{this.usuarioLogueado.apellido}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Edad</h6>
                    <p class="text-muted">{{this.usuarioLogueado.edad}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Dni</h6>
                    <p class="text-muted">{{this.usuarioLogueado.dni}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{this.usuarioLogueado.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Tipo Usuario</h6>
                    <p class="text-muted">{{this.usuarioLogueado.tipoUsuario}}</p>
                  </div>
                  <div class="col-6 mb-3" *ngIf="this.usuarioLogueado.tipoUsuario == 'Especialista'">
                    <h6>Dias Atencion</h6>
                    <p class="text-muted">{{this.usuarioLogueado.diasAtencion}}</p>
                  </div>
                  <div class="col-6 mb-3" *ngIf="this.usuarioLogueado.tipoUsuario == 'Especialista'">
                    <h6>Horarios Atencion</h6>
                    <p class="text-muted">{{this.usuarioLogueado.horariosAtencion}}</p>
                  </div>
                  <div class="col-6 mb-3" *ngIf="this.usuarioLogueado.tipoUsuario == 'Paciente'">
                    <h6>Obra Social</h6>
                    <p class="text-muted">{{this.usuarioLogueado.obraSocial}}</p>
                  </div>
                </div>
                <hr class="mt-0 mb-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>