<section class="vh-100" style="background-color: #f4f5f7;">
  <div [@scaleInCenter] class="container py-5 h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <div id="carouselExample" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <!-- Primera imagen -->
                  <div *ngIf="fotoPerfil == true">
                    <img appExpandOnHover [@scaleInCenter] src="{{this.usuarioLogueado.fotoPerfil1}}" alt="Avatar 1" class="d-block img-fluid my-5" style="width: 380px;">
                  </div>
              
                  <!-- Segunda imagen (si está disponible) -->
                    <div *ngIf="fotoPerfil == false">
                      <img [@scaleInCenter] src="{{this.usuarioLogueado.fotoPerfil2}}" alt="Avatar 2" class="d-block img-fluid my-5" style="width: 380px;">
                    </div>
                </div>
              
                <a class="carousel-control-prev" role="button" *ngIf="this.usuarioLogueado.tipoUsuario == 'Paciente'" (click)="this.fotoPerfil = !this.fotoPerfil">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" role="button" *ngIf="this.usuarioLogueado.tipoUsuario == 'Paciente'" (click)="this.fotoPerfil= !this.fotoPerfil">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
              <h1 style="font-size: 35px;">  <strong> {{this.usuarioLogueado.nombre}}  {{this.usuarioLogueado.apellido}} </strong></h1>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h6 style="font-size: 35px;">Mi Perfil</h6>
                  <button appExpandOnHover class="btn btn-success" *ngIf="this.usuarioLogueado.tipoUsuario == 'Especialista'" (click)="guardarCambios()">Guardar</button>
                  <button appExpandOnHover class="btn btn-success" *ngIf="this.usuarioLogueado.tipoUsuario == 'Paciente'" (click)="descargarPdf()">Descargar Historia Clinica</button>
                </div>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Nombre</h6>
                    <p class="text-muted">{{this.usuarioLogueado.nombre}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Apellido</h6>
                    <p class="text-muted">{{this.usuarioLogueado.apellido}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Edad</h6>
                    <p class="text-muted">{{this.usuarioLogueado.edad}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Dni</h6>
                    <p class="text-muted">{{this.usuarioLogueado.dni}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{this.usuarioLogueado.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Tipo Usuario</h6>
                    <p class="text-muted">{{this.usuarioLogueado.tipoUsuario}}</p>
                  </div>
                  <div class="col-6 mb-3" *ngIf="this.usuarioLogueado.tipoUsuario == 'Especialista'">
                    <h6>Especialidad</h6>
                    <p class="text-muted">{{this.usuarioLogueado.especialidad}}</p>
                  </div>
                  <div class="col-6 mb-3" *ngIf="this.usuarioLogueado.tipoUsuario == 'Especialista'">
                    <h6>Horarios Atencion</h6>
                    <div class="col" *ngFor="let horario of ['9:00 a 13:00', '14:00 a 18:00', '18:00 a 21:00']">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [checked]="horariosAtencion.includes(horario)" (change)="toggleHorario(horario)">
                        <label appExpandOnHover class="form-check-label" for="flexCheckChecked">{{ horario }}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-3" *ngIf="this.usuarioLogueado.tipoUsuario == 'Especialista'">
                    <h6>Dias Atencion</h6>
                    <div class="col" *ngFor="let dia of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [checked]="diasAtencion.includes(dia)" (change)="toggleDia(dia)">
                        <label appExpandOnHover class="form-check-label" for="flexCheckChecked">{{ dia }}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-3" *ngIf="this.usuarioLogueado.tipoUsuario == 'Paciente'">
                    <h6>Obra Social</h6>
                    <p class="text-muted">{{this.usuarioLogueado.obraSocial}}</p>
                  </div>
                </div>
                <hr class="mt-0 mb-3">
                <div #content class="row pt-1"  *ngIf="this.usuarioLogueado.tipoUsuario == 'Paciente'">
                  <h6>Historia Clinica</h6>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="nombreApellidoFiltro">Buscar por nombre y apellido del doctor:</label>
                        <input class="form-control" type="text" [(ngModel)]="nombreApellidoFiltro" (input)="cargarHistorialClinico()">
                      </div>
                    </div>
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Especialidad</th>
                        <th>Doctor</th>
                        <th>Reseña Doctor</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let turno of historialClinico">
                        <td>{{ turno.especialidad }}</td>
                        <td>{{ turno.nombreDoctor }} {{ turno.apellidoDoctor }} </td>
                        <td>
                          <div *ngIf="turno.atencionDoc">
                            <strong>Altura:</strong> {{ turno.atencionDoc.altura }} <br>
                            <strong>Peso:</strong> {{ turno.atencionDoc.peso }} <br>
                            <strong>Presion:</strong> {{ turno.atencionDoc.presion }} <br>
                            <strong>Temperatura:</strong> {{ turno.atencionDoc.temperatura }} <br>
                            <strong>Datos Dinámicos:</strong>
                            <div *ngFor="let item of turno.atencionDoc.datosDinamicos">
                              <strong>Clave:</strong> {{ item.clave }}, <strong>Valor:</strong> {{ item.valor }} <br>
                            </div>
                          </div>
                        </td>
                        <td>{{ turno.fecha }}</td>
                        <td>{{ turno.hora }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>