/* Estilos para el menú de opciones */
.menu-option-card {
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .menu-option-card:hover {
    background-color: #e9ecef;
    transform: scale(1.05);
  }
  
  .menu-option-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-option-content i {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  /* Estilos para el contenido del formulario */
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
  }
  
  /* Estilos para la tabla de horarios */
  .table {
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
    text-align: center;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }

  /* Agrega los estilos necesarios para los botones cuadrados, rectangulares, etc. */
.botones-especialidades {
  display: flex;
  flex-wrap: wrap;
}

.btn-especialidad {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}


/* Estilos TURNOS */
.selected {
  background-color: #4CAF50;
  color: white;
}

/* Estilos para especialidades*/ 

.botones-especialidades {
  display: flex;
  flex-wrap: wrap;
}

.btn-especialidad {
  height: 180px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.imagen-container {
  width: 100px; 
  height: 100px; 
  overflow: hidden;
  margin: 0 auto; 
}

.imagen-especialidad {
  width: 100%;
  height: auto;
}

.texto-especialidad {
  margin-top: 5px;
}

/* Estilos para doctores */ 

.botones-doctores {
  display: flex;
  flex-wrap: wrap;
}

.btn-doctores {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.imagen-container {
  width: 100px; 
  height: 100px; 
  overflow: hidden;
  margin: 0 auto; 
}

.imagen-doctores {
  width: 100%;
  height: auto;
}

.texto-doctores {
  margin-top: 5px;
}

.btn-fecha{
  width: 100px; 
  height: 100px; 
  margin-left: 5px;
  border-radius: 15px;
  font-size: 15px;
}

.btn-horario{
  height: 70px;
  width: 150px;
  font-size: 30px;
  border-radius: 15px;
  margin-left: 5px;
  margin-top: 5px;
}

h2{
  font-size: 30px;
}

label{
  margin-top: 8px;
  font-size: 22px;
  margin-bottom: 5px;
}