<div class="container" style="margin-bottom: 450px;">
  <div class="row">
    <div class="col-md-4">
      <div class="menu-option-card" (click)="showReservarTurno = true; showProximosTurnos = false;showHistorialClinico = false; cargarHorarios(this.dniDoctorSeleccionado,this.fechaSeleccionada)">
        <div class="menu-option-content">
          <i class="fas fa-calendar-plus"></i>
          <h4>Reservar Turno</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="menu-option-card" (click)="showProximosTurnos = true; showReservarTurno = false;showHistorialClinico=false; cargarProximosTurnos()">
        <div class="menu-option-content">
          <i class="fa-solid fa-business-time"></i>
          <h4 *ngIf="this.usuarioLogueado?.tipoUsuario == 'Paciente'">Mis Turnos</h4>
          <h4 *ngIf="this.usuarioLogueado?.tipoUsuario == 'Admin'">Todos los Turnos</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="menu-option-card" (click)="showProximosTurnos=false;showHistorialClinico = true; showReservarTurno = false; cargarHistorialClinico()">
        <div class="menu-option-content">
          <i class="fas fa-file-medical-alt"></i>
          <h4>Historial Atenciones</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="reservar-turno" *ngIf="showReservarTurno">
      <div class="form-container">
        <h2>Reservar Turno</h2>

        <!-- Selección de Paciente -->
        <div class="form-group" *ngIf="pacientes.length > 0 && this.usuarioLogueado?.tipoUsuario == 'Admin'">
          <label for="doctor">Selecciona un Paciente:</label>
          <div class="botones-doctores">
            <button appHighlightElement appExpandOnHover *ngFor="let paciente of pacientes" class="btn-doctores"
              (click)="pacienteSeleccionado = paciente;"
              [ngClass]="{'selected': paciente.dni == pacienteSeleccionado.dni}"
              >
              <div class="imagen-container">
                <img appDefaultImage [src]="paciente.fotoPerfil1" alt="{{paciente.nombre}}" class="imagen-doctores" />
              </div>
              <div class="texto-doctores">{{ paciente.nombre }} {{ paciente.apellido }}</div>
            </button>
          </div>
        </div>

        <!-- Selección de Especialidad -->
        <div class="form-group">
          <label for="especialidad">Selecciona una especialidad:</label>
          <div class="botones-especialidades">
            <button appHighlightElement appExpandOnHover *ngFor="let especialidad of especialidades" class="btn-especialidad"
              (click)="especialidadSeleccionada = especialidad.nombre; cargarDoctores()"
              [ngClass]="{'selected': especialidad.nombre == especialidadSeleccionada}">
              <div class="imagen-container">
                <img appDefaultImage [src]="especialidad.imagen" alt="{{especialidad.nombre}}" class="imagen-especialidad" />
              </div>
              <div class="texto-especialidad">{{ especialidad.nombre }}</div>
            </button>
          </div>
        </div>

        <!-- Selección de Doctor -->
        <div class="form-group" *ngIf="doctores.length > 0">
          <label for="doctor">Selecciona un doctor:</label>
          <div class="botones-doctores">
            <button appHighlightElement appExpandOnHover *ngFor="let doctor of doctores" class="btn-doctores"
              (click)="dniDoctorSeleccionado = doctor.dni; generarFechas(dniDoctorSeleccionado)"
              [ngClass]="{'selected': doctor.dni == dniDoctorSeleccionado}"
              >
              <div class="imagen-container">
                <img appDefaultImage [src]="doctor.fotoPerfil1" alt="{{doctor.nombre}}" class="imagen-doctores" />
              </div>
              <div class="texto-doctores">{{ doctor.nombre }} {{ doctor.apellido }}</div>
            </button>
          </div>
        </div>

        <!-- Selección de Fecha -->
        <div class="form-group" *ngIf="dniDoctorSeleccionado">
          <label for="fecha">Selecciona una Fecha:</label>
          <div class="botones-fechas">
            <button appHighlightElement appExpandOnHover *ngFor="let fecha of fechas" class="btn-fecha"
              (click)="this.fechaSeleccionada = fecha; this.cargarHorarios(this.dniDoctorSeleccionado,fecha)"
              [ngClass]="{'selected': fecha == fechaSeleccionada}"
              >
              {{ fecha }}
            </button>
          </div>
        </div>

        <!-- Horarios Disponibles -->
        <div *ngIf="fechaSeleccionada">
          <label>Horarios Disponibles</label>
          <div class="botones-horarios">
            <button appExpandOnHover *ngFor="let horario of arrayHorarios" class="btn-horario"
              [class.btn-success]="horario.estado == 'disponible'"
              [class.btn-danger]="horario.estado == 'ocupado'"
              [disabled]="horario.estado == 'ocupado'"
              (click)="reservarTurno(horario.horario)">
              <p>{{ horario.horario | horaFormato }}</p>
            </button>
          </div>
        </div>
    </div>
    </div>

    <div class="proximos-turnos" *ngIf="showProximosTurnos">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="especialidadFiltro">Buscar por cualquier campo:</label>
            <input class="form-control" type="text" [(ngModel)]="filtroFull" (input)="cargarProximosTurnos()">
          </div>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Especialidad</th>
            <th>Doctor</th>
            <th>Confirmacion Doctor</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr appHighlightRow *ngFor="let turno of proximosTurnos">
            <td>{{ turno.especialidad }}</td>
            <td>{{ turno.nombreDoctor }} {{ turno.apellidoDoctor }} </td>
            <td>{{ turno.confirmacionDoctor | estadoTurno }}</td>
            <td>{{ turno.fecha }}</td>
            <td>{{ turno.hora }}</td>
            <td>
              <button class="btn btn-danger" *ngIf="turno.confirmacionDoctor != 'Rechazado'" (click)="cancelarTurno(turno)">Cancelar Turno</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="historial-clinico" *ngIf="showHistorialClinico">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="especialidadFiltro">Buscar por cualquier campo:</label>
            <input class="form-control" type="text" [(ngModel)]="filtroFull" (input)="cargarHistorialClinico()">
          </div>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Especialidad</th>
            <th>Doctor</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr appHighlightRow *ngFor="let turno of historialClinico">
            <td>{{ turno.especialidad }}</td>
            <td>{{ turno.nombreDoctor }} {{ turno.apellidoDoctor }} </td>
            <td>{{ turno.atendido ? 'Atendido ✅' : 'Pendiente de atencion ⌛' }}</td>
            <td>{{ turno.fecha }}</td>
            <td>{{ turno.hora }}</td>
            <td>
              <button class="btn btn-info" style="font-size: 12px;" *ngIf="turno.atencionDoc != null" (click)="verDetalle(turno)">Ver Reseña Doctor</button>
              <button class="btn btn-success ms-2 mt-1" style="font-size: 12px;" *ngIf="turno.calificacionPaciente == null && this.usuarioLogueado?.tipoUsuario == 'Paciente'" (click)="calificarAtencion(turno)">Calificar Atencion</button>
              <button class="btn btn-success ms-2 mt-1" style="font-size: 12px;" *ngIf="turno.calificacionPaciente != null && this.usuarioLogueado?.tipoUsuario == 'Admin'" (click)="verResenia(turno)">Ver  Reseña Paciente</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
