<div class="container" style="margin-bottom: 450px;">
  <div class="row">
    <div class="col-md-4">
      <div class="menu-option-card" (click)="showReservarTurno = true; showProximosTurnos = false;showHistorialClinico = false; cargarHorarios(this.dniDoctorSeleccionado,this.fechaSeleccionada)">
        <div class="menu-option-content">
          <i class="fas fa-calendar-plus"></i>
          <h4>Reservar Turno</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="menu-option-card" (click)="showProximosTurnos = true; showReservarTurno = false;showHistorialClinico=false; cargarProximosTurnos()">
        <div class="menu-option-content">
          <i class="fa-solid fa-business-time"></i>
          <h4>Mis Turnos</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="menu-option-card" (click)="showProximosTurnos=false;showHistorialClinico = true; showReservarTurno = false; cargarHistorialClinico()">
        <div class="menu-option-content">
          <i class="fas fa-file-medical-alt"></i>
          <h4>Historial Atenciones</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="reservar-turno" *ngIf="showReservarTurno">
      <div class="form-container">
        <h2>Reservar Turno</h2>

        <!-- Selección de Especialidad -->
        <div class="form-group">
          <label for="especialidad">Selecciona una especialidad:</label>
          <div class="botones-especialidades">
            <button *ngFor="let especialidad of especialidades" class="btn-especialidad"
              (click)="especialidadSeleccionada = especialidad.nombre; cargarDoctores()">
              <div class="imagen-container">
                <img [src]="especialidad.imagen" alt="{{especialidad.nombre}}" class="imagen-especialidad" />
              </div>
              <div class="texto-especialidad">{{ especialidad.nombre }}</div>
            </button>
          </div>
        </div>

        <!-- Selección de Doctor -->
        <div class="form-group" *ngIf="doctores.length > 0">
          <label for="doctor">Selecciona un doctor:</label>
          <div class="botones-doctores">
            <button *ngFor="let doctor of doctores" class="btn-doctores"
              (click)="dniDoctorSeleccionado = doctor.dni; generarFechas(dniDoctorSeleccionado)">
              <div class="imagen-container">
                <img [src]="doctor.fotoPerfil1" alt="{{doctor.nombre}}" class="imagen-doctores" />
              </div>
              <div class="texto-doctores">{{ doctor.nombre }} {{ doctor.apellido }}</div>
            </button>
          </div>
        </div>

        <!-- Selección de Fecha -->
        <div class="form-group" *ngIf="dniDoctorSeleccionado">
          <label for="fecha">Selecciona una Fecha:</label>
          <div class="botones-fechas">
            <button *ngFor="let fecha of fechas" class="btn-fecha"
              (click)="this.fechaSeleccionada = fecha; this.cargarHorarios(this.dniDoctorSeleccionado,fecha)"
              >
              {{ fecha }}
            </button>
          </div>
        </div>

        <!-- Horarios Disponibles -->
        <div *ngIf="fechaSeleccionada">
          <label>Horarios Disponibles</label>
          <div class="botones-horarios">
            <button *ngFor="let horario of arrayHorarios" class="btn-horario"
              [class.btn-success]="horario.estado == 'disponible'"
              [class.btn-danger]="horario.estado == 'ocupado'"
              [disabled]="horario.estado == 'ocupado'"
              (click)="reservarTurno(horario.horario)">
              <p>{{ horario.horario | horaFormato }}</p>
            </button>
          </div>
        </div>
    </div>
    </div>

    <div class="proximos-turnos" *ngIf="showProximosTurnos">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="especialidadFiltro">Buscar por especialidad:</label>
            <input class="form-control" type="text" [(ngModel)]="especialidadFiltro" (input)="cargarProximosTurnos()">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="nombreApellidoFiltro">Buscar por nombre y apellido del doctor:</label>
            <input class="form-control" type="text" [(ngModel)]="nombreApellidoFiltro" (input)="cargarProximosTurnos()">
          </div>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Especialidad</th>
            <th>Doctor</th>
            <th>Confirmacion Doctor</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of proximosTurnos">
            <td>{{ turno.especialidad }}</td>
            <td>{{ turno.nombreDoctor }} {{ turno.apellidoDoctor }} </td>
            <td>{{
              turno.confirmacionDoctor === 'Atendido' ? '🧬 Atendido 🧬' :
              turno.confirmacionDoctor === 'Aceptado' ? '✅ Aceptado ✅' :
              turno.confirmacionDoctor === 'Rechazado' ? '❌ Rechazado ❌' :
              turno.confirmacionDoctor === 'Pendiente Confirmacion' ? '⌛ Pendiente Confirmacion ⌛ ' :
              turno.confirmacionDoctor
            }}</td>
            <td>{{ turno.fecha }}</td>
            <td>{{ turno.hora }}</td>
            <td>
              <button class="btn btn-danger" *ngIf="turno.confirmacionDoctor != 'Rechazado'" (click)="cancelarTurno(turno)">Cancelar Turno</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="historial-clinico" *ngIf="showHistorialClinico">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="especialidadFiltro">Buscar por especialidad:</label>
          <input class="form-control" type="text" [(ngModel)]="especialidadFiltro" (input)="cargarHistorialClinico()">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="nombreApellidoFiltro">Buscar por nombre y apellido del doctor:</label>
          <input class="form-control" type="text" [(ngModel)]="nombreApellidoFiltro" (input)="cargarHistorialClinico()">
        </div>
      </div>
    </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Especialidad</th>
            <th>Doctor</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of historialClinico">
            <td>{{ turno.especialidad }}</td>
            <td>{{ turno.nombreDoctor }} {{ turno.apellidoDoctor }} </td>
            <td>{{ turno.atendido ? 'Atendido ✅' : 'Pendiente de atencion ⌛' }}</td>
            <td>{{ turno.fecha }}</td>
            <td>{{ turno.hora }}</td>
            <td>
              <button class="btn btn-primary" style="font-size: 12px;" *ngIf="turno.resenia != null" (click)="verDetalle(turno)">Ver Reseña</button>
              <button class="btn btn-primary ms-2 mt-1" style="font-size: 12px;" (click)="verDetalle(turno)">Completar Encuesta</button>
              <button class="btn btn-success ms-2 mt-1" style="font-size: 12px;" *ngIf="turno.calificacionPaciente == null" (click)="calificarAtencion(turno)">Calificar Atencion</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
