<div class="container">
  <div class="form-group">
    <label for="especialidad">Selecciona una especialidad:</label>
    <select class="form-control" [(ngModel)]="especialidadSeleccionada" (change)="cargarDoctores()">
      <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="doctores.length > 0">
    <label for="doctor">Selecciona un doctor:</label>
    <select class="form-control" [(ngModel)]="dniDoctorSeleccionado">
      <option *ngFor="let doctor of doctores" [value]="doctor.dni">{{ doctor.nombre }} {{ doctor.apellido }}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="dniDoctorSeleccionado">
    <label for="fecha">Selecciona una Fecha:</label>
    <select class="form-control" [(ngModel)]="fechaSeleccionada" (change)="cargarHorarios()">
      <option *ngFor="let fecha of fechas" [value]="fecha">{{ fecha }}</option>
    </select>
  </div>

  <div *ngIf="fechaSeleccionada">
    <h3>Horarios Disponibles</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of arrayHorarios">
          <td>{{ horario.horario }}</td>
          <td>
            <button class="btn" [class.btn-success]="horario.estado === 'disponible'"
                    [class.btn-danger]="horario.estado === 'ocupado'" [disabled]="horario.estado === 'ocupado'"
                    (click)="reservarTurno(horario.horario)">
              {{ horario.estado === 'ocupado' ? 'Reservado' : 'Reservar' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
