<div class="container">
  <h2 style="text-align: center;">Todos los usuarios 👥</h2>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Dni</th>
        <th>Edad</th>
        <th>Tipo Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>
          <div class="profile-picture">
            <img *ngIf="usuario.fotoPerfil1" [src]="usuario.fotoPerfil1" alt="Foto de perfil">
            <span *ngIf="!usuario.fotoPerfil1" class="no-photo">Sin foto</span>
          </div>
        </td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.dni }}</td>
        <td>{{ usuario.edad }}</td>
        <td>{{ usuario.tipoUsuario }}</td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="flagAdmin == true" class="container">
  <h2 style="text-align: center;">Aceptar/Rechazar Especialistas 👨🏻‍⚖️🔨</h2>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Dni</th>
        <th>Edad</th>
        <th>Tipo Usuario</th>
        <th>Especialidad</th>
        <th>Dias Atencion</th>
        <th>Horario Atencion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let especialista of especialistas">
        <td>
          <div class="profile-picture">
            <img *ngIf="especialista.fotoPerfil1" [src]="especialista.fotoPerfil1" alt="Foto de perfil">
            <span *ngIf="!especialista.fotoPerfil1" class="no-photo">Sin foto</span>
          </div>
        </td>
        <td>{{ especialista.nombre }}</td>
        <td>{{ especialista.apellido }}</td>
        <td>{{ especialista.email }}</td>
        <td>{{ especialista.dni }}</td>
        <td>{{ especialista.edad }}</td>
        <td>{{ especialista.tipoUsuario }}</td>
        <td>{{ especialista.especialidad }}</td>
        <td>{{ especialista.diasAtencion }}</td>
        <td>{{ especialista.horariosAtencion }}</td>
        <td>
          <button *ngIf="especialista.especialidad" class="btn btn-success" style="height: 35px" (click)="actualizarEstado(especialista.dni,'true',especialista.email,especialista.password)">Aceptar</button>
          <button *ngIf="especialista.especialidad" class="btn btn-danger" style="height: 35px;margin-left: 5px;" (click)="actualizarEstado(especialista.dni,'false',null,null)">Rechazar</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<div *ngIf="flagAdmin == true" class="container">
    <app-register></app-register>
</div>
