<div class="fondo">
    <div  id="shadow" class="contenedor scale-in-center flip-in-ver-left">
      <div>
        <h1 class="text-center tracking-in-contract display-4">
            Bienvenido!
        </h1>
        <div class="row mt-5">
          <div class="col-6 text-center">
            <a routerLink="register" class="registerButton bounce-top">Registrar</a>
          </div>
          <div class="col-6 text-center">
            <div>
              <a href="login" class="logButton bounce-top">Loggearse</a>
            </div>
          </div>
        </div>
    </div>
  </div>
 
  