.image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: 80vh;
    filter: brightness(90%); /* Ajusta el porcentaje para hacer la imagen más oscura */
  }