/* Estilos para el menú de opciones */
.menu-option-card {
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .menu-option-card:hover {
    background-color: #e9ecef;
    transform: scale(1.05);
  }
  
  .menu-option-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-option-content i {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  